[submodule "bibin"]
	path = bibin
	url = https://github.com/Blizarre/bibin
	branch = master
[submodule "faas"]
	path = faas
	url = https://github.com/blizarre/faas.git
[submodule "yaas"]
	path = yaas
	url = https://github.com/blizarre/yaas.git
[submodule "englishify"]
	path = englishify
	url = https://github.com/blizarre/englishify.git
[submodule "pouch2inflame"]
	path = pouch2inflame
	url = https://github.com/blizarre/pouch2inflame.git
