[submodule "bibin"]
	path = bibin
	url = https://github.com/Blizarre/bibin
	branch = master
[submodule "marache.net"]
	path = marache.net
	url = https://github.com/Blizarre/marache.net
	branch = master
[submodule "faas"]
	path = faas
	url = https://github.com/blizarre/faas.git
