[submodule "bibin"]
	path = bibin
	url = https://github.com/Blizarre/bibin
	branch = master
[submodule "faas"]
	path = faas
	url = https://github.com/blizarre/faas.git
[submodule "vibe-kanban"]
	path = vibe-kanban
	url = https://github.com/Blizarre/vibe-kanban.git
